/*
    I don't really see a point in having `.module` part in naming since css file should be assumed to be a css-module by default.
    Except for this file which gets imported as pure css

    It will be usable later on when you might need to split up JS files which fulfill the same purpose but for different parts of the module, e.g.

    config.selector.js
    calculations.selector.js
    ... etc
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
